@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');


.indexContainer{
    background-color: #d84e4b;
    width: 50%;
    height: 500px;
    margin: auto;
    margin-top: 5em;
    border-radius: 2em;
    border: solid 0.25em #2c3036;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
}

#buttonIndex{
  margin-top: 10%;
  width: 30%;
  height: 15%;
    margin-left: 10%;
    transition-duration: 0.4s;
}

#buttonIndex:hover{
    background-color: #2c3036;
    color: #D2D2D7;
}

#changeIndex{
    color: #2c3036;
    padding: 10%;
}

.inputIndex{
    border-radius: 1.5em;
    border: 0.15em solid #2C3036;
    box-sizing: border-box;
    background-color: #D2D2D7;
    width: 65%;
    height: 3.5em;
    margin-left: 10%;
  }

.labelIndex{
  color: #FFFF;
  margin-bottom: 1%;
  margin-top: 4%;
    margin-top: 2%;
    margin-left: 10%;
    text-align: left;
    font-size: large;
  }

  #imgIndex{
    display: block;
    margin-top: 0%;
    margin-left: -25%;
    height: 490px;
  }

  #div2{    
    height: 90%;
    position:relative;
    background:   url("./imgs/mr_bean_cartoon_by_fachcruel_demjuj0-fullview.png")no-repeat;
    background-size: cover;
    background-position: center;
  }

  #div3{    
    height: 100%;
    position:relative;
    background:   url("./imgs/mrbean_2.png")no-repeat;
    background-size:contain;
    background-position: center;
  }

  